@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer utilities {
  .bg-gradient-blur {
    backdrop-filter: blur(64px);
  }
} 